@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Aldrich&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.container {
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: #14919B;
    padding: 40px;
    border-radius: 10px;
    
    /* Gradient and initial background settings */
    background-image: linear-gradient(135deg, #213A57, #14919B);
    background-size: 300%; /* Larger background for movement */
    background-position: left; /* Initial background position */
    
    transition: background-position 300ms ease-in-out; /* Smooth transition */
}

/* Hover effect for the container */
.container:hover {
    background-position: right; /* Moves the gradient on hover */
}


.container h1 {
    font-size: 2.5rem;
    color: #ffffff;
    font-family: "Aldrich", sans-serif;
}

.container p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: "Aldrich", sans-serif;
}

.container button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Aldrich", sans-serif;
}

.container button:hover {
    background-color: #004d40;
}

.background img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    top: 0;
    left: 0;
}
